.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-icon {
  font-size: 2rem;
  color: black;
}
